<!-- layout.mustache -->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <meta name="description" content="MotoGP Bidding.">
    <link rel="stylesheet" href="/assets/css/pico.orange.min.css">
    <link rel="stylesheet" href="/assets/css/pico.colors.min.css">
    <link rel="stylesheet" href="/assets/css/webmin.css">
    <link rel="stylesheet" href="/assets/css/motogp.css">
    <title>{{$ title }}Title Here{{/ title }}</title>
  </head>
  <body>
    <header class="container">
      {{> partials/navigation }}
    </header>
    <main class="container">
      {{$ content }}
        <p>Content Here</p>
      {{/ content }}
    </main>
    <footer  class="container">
      <p><i><small>A rewrite of the old bidding website based on <a href="https://www.partymeeple.com.au/contact.html">Noisy's</a> code.</small></i></p>
    </footer>
    {{> partials/login }}
    <script src="/assets/js/webmin.js"></script>
  </body>
</html>
