<dialog id="modal-confirm">
    <article>
        <section
            id="modal-confirm-content"
            class="motogp-form-message"
        >
            Are you sure?
        </section>

        <fieldset class="grid">
            <button
                type="button"
                data-action="close-modal"
                data-target="modal-confirm"
            >
                Cancel
            </button>

            <button
                type="button"
                id="modal-confirm-btn"
            >
                Confirm
            </button>
        </fieldset>
    </article>
</dialog>
