<dialog id="modal-confirm">
    <article>
        <section
            id="modal-confirm-content"
            class="motogp-form-message"
        >
            Are you sure?
        </section>

        <fieldset class="motogp-dialog-actions">
            <button
                type="button"
                class="secondary"
                data-action="close-modal"
                data-target="modal-confirm"
            >
                cancel
            </button>

            <button
                type="button"
                id="modal-confirm-btn"
            >
                confirm
            </button>
        </fieldset>
    </article>
</dialog>
