<nav>
    <ul>
    <li><strong><a href="index.php" class="secondary">MotoGP Bidding</a></strong></li>
    </ul>
    <ul>
    <li><a href="events.php" class="secondary">Events</a></li>
    <li><a href="riders.php" class="secondary">Riders</a></li>
    <li><a href="ladder.php" class="secondary">Ladder</a></li>
    <li>
        <details class="dropdown">
        <summary>
            <img src="/images/lucide--circle-user-round.svg" height="24" width="24" />
        </summary>
        <ul>
            <li><a href="/user/login.php">Login</a></li>
            <li><a href="/user/register.php">Register</a></li>
            <li><a href="/user/resetpassword.php">Reset Password</a></li>
            <li><a href="/user/account.php">Account</a></li>
            <li><a href="/user/logout.php">Logout</a></li>
        </ul>
        </details>
    </li>
    </ul>
</nav>