{{< partials/layout }}

{{$ title }}Edit Event{{/ title }}

{{$ content }}
<form action="{{form.action}}" method="post" novalidate>
  <h1>Edit Event</h1>

  {{^form.message}}
  <section>
    Update event details below.
  </section>
  {{/form.message}}

  {{#form.message}}
  <section role="alert" class="motogp-form-message {{form.message-class}}">
    {{form.message}}
  </section>
  {{/form.message}}

  {{> partials/event-form }}

  <fieldset class="grid motogp-form-actions">
    <a href="/admin/events.php" role="button" class="secondary">Cancel</a>
    <button type="submit">Update Event</button>
  </fieldset>
</form>
{{/ content }}

{{/ partials/layout }}
