{{< partials/layout }}

{{$ title }}Administration{{/ title }}

{{$ content }}

<h1>Administration</h1>

<ul>
    <li><a href="/admin/users.php">Users</a> Manage user registrations, approvals, access and balances.</li>
    <li><a href="/admin/events.php">Events</a> Manage MotoGP events.</li>
</ul>

{{/ content }}

{{/ partials/layout }}
