{{< partials/layout }}

{{$ title }}Administration{{/ title }}

{{$ content }}

<h1>Administration</h1>

<ul>
    <li><a href="/admin/users.php">Users</a> Manage user registrations, approvals, access and balances.</li>
</ul>
<hr>
<ul>
    <li><a href="/admin/teams.php">Teams</a> Manage teams.</li>
    <li><a href="/admin/riders.php">Riders</a> Manage riders.</li>
    <li><a href="/admin/events.php">Events</a> Manage MotoGP events.</li>
    <li><a href="/admin/results.php">Results</a> Manage race results.</li>
</ul>

{{/ content }}

{{/ partials/layout }}
