{{< partials/layout }}
  {{$ title }}{{ app.name }} • {{ page.title }}{{/ title }}

  {{$ content }}
  <h1>{{ page.heading }}</h1>

    <p>
        <button type="button" class="motogp-icon-text-button" data-action="add-rider" data-target="modal-edit" >
          {{> partials/icons/add }}
          Add Rider
      </button>
    </p>

    <table>
        <thead>
            <tr>
                <th>Number</th>
                <th>Rider Name</th>
                <th>Team</th>
                <th>Admin</th>
            </tr>
        </thead>
      <tbody>
      {{# riders }}
        <tr
            data-rider-id="{{ rider_id }}"
            data-rider-number="{{ race_number }}"
            data-rider-active="{{ active }}"
            data-team-id="{{ team_id }}"
        >
            <td class="{{ cell-class }}">{{ race_number }}</td>
            <td class="rider-name {{ cell-class }}">{{ name }}</td>
            <td class="team_name {{ cell-class }}">{{ team_name }}</td>
            <td class="motogp-button-group">
            <button type="button" class="motogp-icon-button" data-target="modal-edit" data-action="edit-rider" data-tooltip="Edit rider" aria-label="Edit rider" >
                {{> partials/icons/edit }}
            </button>
            {{#can_delete}}
            <button type="button" class="motogp-icon-button" data-target="modal-confirm" data-action="delete-rider" data-tooltip="Delete rider" aria-label="Delete rider" >
                {{> partials/icons/delete }}
            </button>
            {{/can_delete}}
            </td>
        </tr>
      {{/ riders }}
      </tbody>
    </table>

  <dialog
      id="modal-edit"
      {{#form.open_modal}}data-open-on-load="true"{{/form.open_modal}}>
      <article>
          <form id="rider-form" method="post" novalidate>

              <h2>Edit Rider</h2>

              <section
                  id="rider-form-message"
                  role="alert"
                  class="motogp-form-message {{form.message-class}}"
              >
                  {{#form.message}}
                      {{form.message}}
                  {{/form.message}}
              </section>

              <fieldset>
                  <input
                      type="hidden"
                      name="operation"
                      id="operation"
                      value="update"
                  >

                  <input
                      type="hidden"
                      name="rider-id"
                      id="rider-id"
                      value="{{form.rider_id}}"
                  >
                <label>
                    Race Number
                    <input
                        type="number"
                        name="rider-number"
                        id="rider-number"
                        min="1"
                        value="{{form.race_number}}"
                        aria-invalid="{{#form.errors.race_number}}true{{/form.errors.race_number}}"
                        aria-describedby="invalid-race_number"
                    >
                    <small id="invalid-race_number">
                        {{form.errors.race_number}}
                    </small>
                </label>

                  <label>
                      Rider Name
                      <input
                          name="rider-name"
                          id="rider-name"
                          placeholder="Rider Name"
                          value="{{form.rider_name}}"
                          aria-invalid="{{#form.errors.rider_name}}true{{/form.errors.rider_name}}"
                          aria-describedby="invalid-rider_name"
                      >
                      <small id="invalid-rider_name">
                          {{form.errors.rider_name}}
                      </small>
                  </label>

                  <label>
                      Team
                      <select
                          name="rider-team"
                          id="rider-team"
                          aria-label="Select team..."
                      >
                          <option
                              {{^form.team_id}}selected{{/form.team_id}}
                              disabled
                              value=""
                          >
                              Select team...
                          </option>

                          {{#teams}}
                              <option
                                  value="{{team_id}}"
                                  {{#selected}}selected{{/selected}}
                              >
                                  {{team_name}}
                              </option>
                          {{/teams}}
                      </select>
                  </label>

                  <label>
                      Active
                      <input
                          type="checkbox"
                          name="rider-active"
                          id="rider-active"
                          {{#form.rider_active}}checked{{/form.rider_active}}
                      >
                  </label>
              </fieldset>

              <fieldset class="grid">
                  <button
                      type="button"
                      data-action="close-modal"
                      data-target="modal-edit"
                  >
                      Cancel
                  </button>

                  <button type="submit">
                      Save
                  </button>
              </fieldset>

              <input
                  type="hidden"
                  name="csrf_token"
                  value="{{csrfToken}}"
              >

            </form>
        </article>
    </dialog>

    {{> partials/modal-confirm }}

    {{/ content }}

    {{$ scripts }}
        <script src="/assets/js/riders.js"></script>
    {{/ scripts }}

{{/ partials/layout }}
