{{< partials/layout}}

    {{$title}}{{ app.name }} • User Detail{{/title}}

    {{$content}}
        <h1>User Detail • {{ account.username }}</h1>

        <table>
            <tbody>
                <tr>
                    <th scope="row">User ID</th>
                    <td>{{ account.user_id }}</td>
                    <td></td>
                </tr>

                <tr>
                    <th scope="row">Username</th>
                    <td>{{ account.username }}</td>
                    <td></td>
                </tr>

                <tr>
                    <th scope="row">Email</th>
                    <td>{{ account.email }}</td>
                    <td></td>
                </tr>

                <tr>
                    <th scope="row">Balance</th>
                    <td>
                        <a
                            href="/statement.php?user_id={{ account.user_id }}"
                            role="button"
                            class="motogp-icon-button"
                            data-tooltip="View statement"
                            aria-label="View statement"
                        >
                            {{> partials/icons/statement }}
                        </a>
                    </td>
                    <td>
                        <form
                            method="post"
                            action="/admin/user.php?user_id={{ account.user_id }}"
                        >
                            <input
                                type="hidden"
                                name="csrf_token"
                                value="{{ csrfToken }}"
                            >
                            <input
                                type="hidden"
                                name="action"
                                value="update_balance"
                            >

                            <fieldset role="group">
                                <input
                                    type="number"
                                    name="balance"
                                    value="{{ account.balance }}"
                                    min="0"
                                    step="1"
                                    required
                                >
                                <button type="submit">Update</button>
                            </fieldset>
                        </form>
                    </td>
                </tr>

                <tr>
                    <th scope="row">Administrator</th>
                    <td>
                        {{#account.admin}}Yes{{/account.admin}}
                        {{^account.admin}}No{{/account.admin}}
                    </td>
                    <td>
                        <form
                            method="post"
                            action="/admin/user.php?user_id={{ account.user_id }}"
                        >
                            <input
                                type="hidden"
                                name="csrf_token"
                                value="{{ csrfToken }}"
                            >
                            <input
                                type="hidden"
                                name="action"
                                value="set_admin"
                            >

                            {{#account.canSetAdmin}}
                                <input
                                    type="checkbox"
                                    name="admin"
                                    value="1"
                                    {{#account.admin}}checked{{/account.admin}}
                                    onchange="this.form.submit()"
                                    aria-label="Administrator"
                                >
                            {{/account.canSetAdmin}}

                            {{^account.canSetAdmin}}
                                <input
                                    type="checkbox"
                                    {{#account.admin}}checked{{/account.admin}}
                                    disabled
                                    aria-label="Administrator"
                                >
                            {{/account.canSetAdmin}}
                        </form>
                    </td>
                </tr>

                <tr>
                    <th scope="row">Approved</th>
                    <td>{{ account.approved_at }}</td>
                    <td>
                        {{#account.canApprove}}
                            <form
                                method="post"
                                action="/admin/user.php?user_id={{ account.user_id }}"
                                class="motogp-inline-form"
                            >
                                <input
                                    type="hidden"
                                    name="csrf_token"
                                    value="{{ csrfToken }}"
                                >
                                <input
                                    type="hidden"
                                    name="action"
                                    value="approve"
                                >

                                <button type="submit">Approve</button>
                            </form>
                        {{/account.canApprove}}
                    </td>
                </tr>

                <tr>
                    <th scope="row">Disabled</th>
                    <td>{{ account.disabled_at }}</td>
                    <td>
                        {{#account.canDisable}}
                            <form
                                method="post"
                                action="/admin/user.php?user_id={{ account.user_id }}"
                                class="motogp-inline-form"
                            >
                                <input
                                    type="hidden"
                                    name="csrf_token"
                                    value="{{ csrfToken }}"
                                >
                                <input
                                    type="hidden"
                                    name="action"
                                    value="disable"
                                >

                                <button
                                    type="submit"
                                    data-tooltip="Disable user"
                                    aria-label="Disable user"
                                >
                                    {{> partials/icons/unlock }}
                                    Disable
                                </button>
                            </form>
                        {{/account.canDisable}}

                        {{#account.canEnable}}
                            <form
                                method="post"
                                action="/admin/user.php?user_id={{ account.user_id }}"
                                class="motogp-inline-form"
                            >
                                <input
                                    type="hidden"
                                    name="csrf_token"
                                    value="{{ csrfToken }}"
                                >
                                <input
                                    type="hidden"
                                    name="action"
                                    value="enable"
                                >

                                <button
                                    type="submit"
                                    data-tooltip="Enable user"
                                    aria-label="Enable user"
                                >
                                    {{> partials/icons/lock }}
                                    Enable
                                </button>
                            </form>
                        {{/account.canEnable}}
                    </td>
                </tr>

                <tr>
                    <th scope="row">Registered</th>
                    <td>{{ account.created_at }}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    {{/content}}

{{/partials/layout}}
