.row-disable {
    opacity: .5;
}

.row-highlight td {
    background-color: var(--pico-mark-background-color);
}

.secondary {
    color: var(--pico-secondary-color);
}

@font-face {
  font-family: 'Michroma';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Michroma-Regular.ttf') ;
}

.michroma-regular {
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1, .motofont {
    --pico-font-family: "Michroma", sans-serif;
    --pico-font-weight: 400;
    --pico-color: var(--pico-color-orange-500);
    font-family: var(--pico-font-family);
    font-weight: var(--pico-font-weight);
    color: var(--pico-color);
}
