<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🏍️</text></svg>">
    <title>MotoGP • Welcome</title>
    <meta name="description" content="MotoGP Bidding.">
    <link rel="stylesheet" href="/css/pico.css">
    <link rel="stylesheet" href="/css/webmin.css">
  </head>

  <body>
    
    <!-- Header -->
    <header class="container">
      <hgroup>
        <h1>MotoGP 2025 🏍️</h1>
        <p>A bidding competition for the 2025 MotoGP season.</p>
      </hgroup>
    </header>
    <!-- ./ Header -->

    <!-- Main -->
    <main class="container">