
{{< partials/layout }}
  {{$ page.title }}{{ app.name }} • {{ page.title }}{{/ page.title }}
  {{$ content }}
    <h1>{{ page.heading }}</h1>
    
    <table>
      <thead>
        <tr>
          <th>Event Name</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
    {{# events }}
        <tr class="{{ rowclass }}">
          <td>{{ name }}<br><small class="secondary">{{ circuit }}</small></td>
          <td>{{ display_date }}</td>
          {{# user.admin }}
          <td><a href="/admin/edit-event.php?event_id={{ event_id }}">Edit</a></td>
          {{/ user.admin }}
        </tr>
    {{/ events }}
      </tbody>
    </table>
  <p><a href="https://www.motogp.com/en/calendar?view=grid">Calendar of events</a> for the MotoGP 2026 season from the <a href="https://www.motogp.com/en">official site.</a></p>
  {{/ content }}
{{/ partials/layout }}