
{{< partials/layout }}
  {{$ title }}{{ app.name }} • {{ page.title }}{{/ title }}

  {{$ content }}
    <h1>{{ page.heading }}</h1>

    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Event</th>
          <th>Results</th>
          {{# user.admin }}<th>Admin</th> {{/ user.admin }}
        </tr>
      </thead>
      <tbody>
    {{# events }}
        <tr class="{{ row-class }}">
          <td class="{{ cell-class }}">{{ display_date }}</td>
          <td class="{{ cell-class }}">{{ name }} <span class="fi fi-{{ alpha_2 }}"></span><br><small class="secondary">{{ circuit }}</small></td>
          <td>{{# results }}<a href="/results.php?event_id={{ event_id }}"><button>Results</button></a>{{/ results }}</td>
          {{# user.admin }}
          <td><a href="/admin/edit-event.php?event_id={{ event_id }}"><button>Edit</button></a></td>
          {{/ user.admin }}
        </tr>
    {{/ events }}
      </tbody>
    </table>
  <p><a href="https://www.motogp.com/en/calendar?view=grid" target="_blank">Calendar of events</a> for the MotoGP 2026 season from the <a href="https://www.motogp.com/en" target="_blank">official site.</a></p>
  {{/ content }}
{{/ partials/layout }}
