
{{< partials/layout }}
  {{$ title }}{{ app.name }} • {{ title }}{{/ title }}
  {{$ content }}
    <h1>{{ app.season }} {{ heading }}</h1>
    
    <table>
      <thead>
        <tr>
          <th>Event Name</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
    {{# results }}
        <tr class="{{ rowclass }}">
          <td>{{ name }}<br><small class="secondary">{{ circuit }}</small></td>
          <td>{{ date }}</td>
        </tr>
    {{/ results }}
      </tbody>
    </table>

  {{/ content }}
{{/ partials/layout }}