
{{< layout }}
  {{$ title }}{{ app }} • {{ title }}{{/ title }}
  {{$ content }}
    <h1>{{ heading }}</h1>
    <figure>
    <img
      src="/images/DannyPed.png"
      alt="Danny Pedroza, 2017 Australian MotoGP at Phillip Island. Photo by Noisy." />
    <figcaption>Zoooomm..</figcaption>
    </figure>
    </ul>
  {{/ content }}
{{/ layout }}