
{{< partials/layout }}
  {{$ title }}{{ app.name }} • {{ page.title }}{{/ title }}
  {{$ content }}
  <section class="center-text">
    <h1>{{ page.heading }}</h1>
    <figure>
    <img
      src="/assets/images/DannyPed.png"
      alt="Danny Pedroza, 2017 Australian MotoGP at Phillip Island. Photo by Noisy." />
    <figcaption>Zoooomm..</figcaption>
    </figure>
    <h2><span class="motofont">{{ page.next_race_name }}</span></h2>
    <h2>{{ page.days_to_go }}</h2>
    </section>
  {{/ content }}
{{/ partials/layout }}
