{{< partials/layout }}

{{$ title }}{{ app.name }} • {{ page.title }}{{/ title }}

{{$ content }}

<h1>{{ page.heading }}</h1>

<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Rider</th>
            <th>Team</th>
        </tr>
    </thead>

    <tbody>
        {{# riders }}
        <tr>
            <td class="{{ cell-class }}">{{ race_number }}</td>
            <td class="{{ cell-class }}">{{ name }}</td>
            <td class="{{ cell-class }}">{{ team_name }}</td>
        </tr>
        {{/ riders }}
    </tbody>
</table>

{{/ content }}

{{/ partials/layout }}