{{< partials/layout}}

    {{$title}}{{ app.name }} • Account Statement{{/title}}

    {{$content}}

        <h1>Account Statement <span class="motogp-icon">{{> partials/icons/statement }}</span></h1>
        <h2>{{ account.username }}</h2>

        <p>
            Current balance:
            <strong>{{ account.balance }}</strong> points.
        </p>

        <figure>
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Description</th>
                        <th>Amount</th>
                        <th>Balance</th>
                    </tr>
                </thead>
                <tbody>
                    {{#transactions}}
                        <tr>
                            <td>{{ created_at }}</td>
                            <td>{{ description }}</td>
                            <td>{{ amount_display }}</td>
                            <td>{{ running_balance }}</td>
                        </tr>
                    {{/transactions}}

                    {{^transactions}}
                        <tr>
                            <td colspan="4">No transactions.</td>
                        </tr>
                    {{/transactions}}
                </tbody>
            </table>
        </figure>

    {{/content}}

{{/partials/layout}}
