
{{< partials/layout }}
  {{$ title }}{{ app.name }} • {{ title }}{{/ title }}
  {{$ content }}
    <h1>{{ heading }} {{ app.season }}</h1>
    <p>This is a test page.</p>
  {{/ content }}
{{/ partials/layout }}