{{< partials/layout}}

    {{$title}}{{ app.name }} • Account{{/title}}

    {{$content}}
        <h1>{{ user.username }} {{#user.admin}}(admin){{/user.admin}}</h1>
        <section class="grid">
            <section>
                <h2>Account Information</h2>
                <ul>
                    <li>Email: {{ user.email }}</li>
                    <li>Username: {{ user.username }}</li>
                    <li>Account created: {{ user.created_ago }}</li>
                </ul>
                <a
                    href="/user/edit-account.php"
                    role="button"
                    class="outline motogp-icon-text-button"
                >
                    {{> partials/icons/edit }}
                    edit account
                </a>
            </section>
            <article>
                <h2>Next Event {{ next_event.start_date }}</h2>
                <div class="motogp-detail-action">
                    {{#next_event}}
                        <p>
                            {{> partials/race }}
                        </p>

                        {{#bidding_open}}
                            <a
                                href="/bids.php?event_id={{ event_id }}"
                                role="button"
                                class="outline motogp-icon-text-button"
                            >
                                {{> partials/icons/bid }}
                                place bids
                            </a>
                        {{/bidding_open}}
                    {{/next_event}}

                    {{^next_event}}
                        <p>No upcoming events.</p>
                    {{/next_event}}
                </div>
                <div class="motogp-detail-action">
                    <p>
                        Your current balance:
                        <strong>{{ user.balance }}</strong> points.
                    </p>

                    <a
                        href="/statement.php"
                        role="button"
                        class="outline motogp-icon-text-button"
                    >
                        {{> partials/icons/statement }}
                        view statement
                    </a>
                </div>
            </article>
        {{/content}}

    {{/partials/layout}}
