{{< partials/layout }}

{{$ title }}Account{{/ title }}

{{$ content }}
<h1>{{ user.username }} {{# user.admin }}(admin){{/ user.admin }}</h1>
<section class="grid">
<section>
<h2>Account Information</h2>
<ul>
    <li>Email: {{ user.email }}</li>
    <li>Username: {{ user.username }}</li>
    <li>Account created: {{ user.created_ago }}</li>
</ul>
<p>You can <a href="/user/edit-account.php">edit your registration details and password here</a>.</p>
</section>
<section>
<h2>Bidding</h2>
<p><strong>{{ next_event.start_date }}</strong> <em>{{ next_event.name }}</em></p>

<p>Balance: {{ user.balance }} points.</p>


</section>
{{/ content }}

{{/ partials/layout }}
