{{< partials/layout }}

{{$ title }}Account{{/ title }}

{{$ content }}
<h1>{{ user.username }} {{# user.admin }}(admin){{/ user.admin }}</h1>
<section class="grid">
<section>
<h2>Account Information</h2>
<ul>
    <li>Email: {{ user.email }}</li>
    <li>Username: {{ user.username }}</li>
    <li>Account created: {{ user.created_ago }}</li>
</ul>
<p>You can <a href="/user/edit-account.php">edit your registration details and password here</a>.</p>
</section>
<article>
<h2>Next Event</h2>
<p>
    <strong>{{ next_event.start_date }}</strong>
    {{ next_event.name }} <span class="motogp-flag fi fi-{{ next_event.alpha_2 }}"></span><br>
    <small class="motogp-secondary">{{ next_event.circuit }}</small>
</p>

{{# next_event.bidding_open }}
<p>
    <a href="/bids.php?event_id={{ next_event.event_id }}">
        <button type="button">
            Place Bids
        </button>
    </a>
</p>
{{/ next_event.bidding_open }}

<p>Your current balance: <strong>{{ user.balance }}</strong> points.</p>


</article>
{{/ content }}

{{/ partials/layout }}
