
{{< partials/layout}}

    {{$title}}{{ app.name }} • Login{{/title}}

    {{$content}}
        <h1>Login</h1>

        <form action="{{ form.action }}" method="post" novalidate>
            <fieldset>
                <label>
                    Username or email
                    <input
                        name="username"
                        autocomplete="username"
                        aria-invalid="{{ form.usernameInvalid }}"
                        aria-describedby="invalid-username"
                        value="{{ form.username }}"
                    >
                    <small id="invalid-username">{{ form.usernameErr }}</small>
                </label>

                <label>
                    Password
                    <button
                        class="password-toggle"
                        type="button"
                        tabindex="-1"
                        aria-label="Toggle password visibility">
                    </button>
                    <input
                        type="password"
                        name="password"
                        autocomplete="current-password"
                        aria-invalid="{{ form.passwordInvalid }}"
                        aria-describedby="invalid-password"
                    >
                    <small id="invalid-password">{{ form.passwordErr }}</small>
                </label>
            </fieldset>

            <button type="submit">login</button>

            <p>
                Don't have an account?
                <a href="/user/register.php">Register</a>.
            </p>

            <input
                type="hidden"
                name="csrf_token"
                value="{{ form.csrfToken }}"
            >
        </form>
    {{/content}}

{{/partials/layout}}
